# Entorno virtual
venv/
.env/

# Python
__pycache__/
*.pyc

# VSCode / editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Data generada
# data/catalogo_productos.json